<!DOCTYPE html>
<html lang="en">
<!-- Head partials -->
<%- include('./partials/head.ejs') %>
<body>
      <!-- Nav partials -->
  <%- include('./partials/nav.ejs') %>
  
      <div class="container center">
        <i class="large material-icons prefix">sentiment_very_dissatisfied</i>
        <h1>Opps!!!</h1>
        <h3>404 - PAGE NOT FOUND</h3>
      </div>
      
</body>
</html>